body {
  font-family: Arial, sans-serif;
  background: pink;
  color: #333;
  margin: 0;
  padding: 20px;
}

/* Header styles */
#title {
  color: #0077cc;
  font-size: 24px;
}

/* Diary section styles */
h2 {
  font-size: 20px; 
  color: #0077cc;
  font-weight: normal;
}

h1 {
  color: #0077cc;
  font-size: 3em;
}

p {
  margin-bottom: 10px;
}

a {
  color: #0077cc;
}

a:hover {
  text-decoration: underline;
}

/* Tasks section styles */
#tasks {
  list-style-type: none;
  padding: 0;
}

#tasks li {
  margin-bottom: 5px;
}

.completed {
  text-decoration: line-through;
  font-size: 12px;
  
  
  
}
#tasks .completed { 
  background: #ccc;
}
/* Camera Capture Archive section styles */
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
